<form action="/account/login" method="POST" novalidate id="signin-form">
    <h3 class="mb-4 pb-2 border-bottom">Sign In</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{email}}" class="form-control" autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <input type="submit" value="Login" class="btn btn-block btn-secondary my-4">
    <div class="d-flex flex-column">
        <small class="text-muted text-primary">
		    <a class="d-inline" href="/account/password/forgot">Forgot Password?</a>
        </small>
        <small class="text-muted text-primary">
            Don't have an account? <a class="d-inline" href="/account/register">Register</a>
        </small>
    </div>
</form>
