<div id="signin-form" style="font-size: 1.35rem">
    <h3 class="mb-4 pb-2 border-bottom">User Profile</h3>
    <div class="row my-4">
        <div class="col-6">Username</div>
        <div class="col-6 border-bottom pl-0"><b>{{username}}</b></div>
    </div>
    <div class="row my-4">
        <div class="col-6">Email</div>
        <div class="col-6 border-bottom pl-0"><b>{{email}}</b></div>
    </div>
    <div class="row my-4">
        <div class="col-6">Phone</div>
        <div class="col-6 border-bottom pl-0"><b>{{phone}}</b></div>
    </div>
    <div class="row my-4">
        <div class="col-6">Sex</div>
        <div class="col-6 border-bottom pl-0"><b>{{sex}}</b></div>
    </div>
    <div class="py-5">
		<a href="/account/update" class="btn btn-dark">Update<a/>
		<a href="/" class="btn btn-danger float-right">Delete</a>
	</div>
</div>
