:root {
    --font-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-primary: #4285f4;
    --color-warning: #fb3;
    --color-danger: #ff3547;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a, input, button, select, textarea {
    box-shadow: none !important;
    outline: none !important;
}

.btn {
    border-radius: 0;
    border: 0;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-warning {
    background-color: var(--color-warning);
}

.btn-danger {
    background-color: var(--color-danger);
}

.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: .7rem;
}

.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    border-radius: 0;
}
